---
version: 1
interactions:
- request:
    body: '{"date":"2022-07-02","description":"Working on feature A","projectId":123,"ticketId":"ABC123","time":0.5}'
    form: {}
    headers: {}
    url: https://intranet.stxnext.pl/api/intranet4/user_times
    method: POST
  response:
    body: '{"desc": "Working on feature A", "added": "2022-07-02", "userId": "7777",
      "modified": "2022-07-02", "project": {"client": {"name": "Test Client"}, "name": "Test Project"}, "id":
      "2178010", "date": "2022-07-02", "time": 0.5, "ticketId": "ABC123"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 117.213167ms
[...]
