---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://intranet.stxnext.pl/api/intranet4/hours?date=2022-07-02
    method: GET
  response:
    body: '{"loggedAt": null, "sumHours": 0.25, "entries": [{"description": "Test",
      "addedTs": "2022-07-01T23:47:51.365041", "timerTs": null, "modifiedTs": "2022-07-01T23:47:51.365046",
      "project": {"name": "Test Project", "id":
      123, "clientName": "Test Client"}, "userId": 7777, "id": 2177998,
      "frozen": false, "time": 0.25, "ticket": {"url": "http://sttxnext.pl/browse/ABC123",
      "id": "ABC123"}, "deleted": false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 111.765375ms
