---
version: 1
interactions:
- request:
    body: '{"date":"2022-07-02","description":"Working on feature A","projectId":123,"ticketId":"ABC123","time":0.5}'
    form: {}
    headers: {}
    url: https://intranet.stxnext.pl/api/intranet4/user_times
    method: POST
  response:
    body: '{"desc": "Working on feature A", "added": "2022-07-02", "userId": "7777",
      "modified": "2022-07-02", "project": {"client": {"name": "Test Client"}, "name": "Test Project"}, "id":
      "2178011", "date": "2022-07-02", "time": 0.5, "ticketId": "ABC123"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: 134.392166ms
- request:
    body: ""
    form: {}
    headers: {}
    url: https://intranet.stxnext.pl/api/intranet4/hours?date=2022-07-02
    method: GET
  response:
    body: '{"loggedAt": "2022-07-02T00:00:57.089317", "sumHours": 0.5, "entries":
      [{"description": "Working on feature A", "addedTs": "2022-07-02T00:16:14.212503",
      "timerTs": null, "modifiedTs": "2022-07-02T00:16:14.212511", "project": {"name":
      "Test Project", "id": 123, "clientName":
      "Test Client"}, "userId": 7777, "id": 2178011, "frozen": false,
      "time": 0.5, "ticket": {"url": "http://sttxnext.pl/browse/ABC123", "id": "ABC123"},
      "deleted": false}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 87.240667ms
[...]
